<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowBook</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">d</p>

<div th:if="${owner}">
    <span>Book booked by:</span><span th:text="${owner.getName()}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" VALUE="release the book"/>
    </form>
</div>

<div th:if="${people}">
<form th:method="PATCH" th:action="@{/books/{id}/add(id=${book.getId()})}">
    <label for="person">for whom to assign the book?</label>
    <select th:object="${person}"  th:field="*{id}"  id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
    </select>
    <input type="submit" value="add"/>
</form>
</div>

<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="EDIT"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="DELETE"/>
</form>
</body>
</html>